.main-box {
    height: 300px;
    width: 300px;
}

.inner-box {
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    border-radius: 50%;
}

.cross {
    width: 80px;
    height: 80px;
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgb(255, 0, 0) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            rgb(255, 0, 0) 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%);
}

.horizontal_line {
    position: absolute;
    z-index: 1;
    border: 1px solid green;
    height: 300px;

}

.vertical_line {
    position: absolute;
    z-index: 1;
    border: 1px solid green;
    width: 280px;
    margin-top: 50px;
}


.refresh_btn {
    display: none;
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, #25aae1, #40e495);
}

/* 
    borders
*/
#one {
    border-top: 0;
    border-left: 0;
}

#two {
    border-top: 0;
}

#three {
    border-top: 0;
    border-right: 0;
}

#four {
    border-left: 0;
}

#six {
    border-right: 0;
}

#seven {
    border-left: 0;
    border-bottom: 0;
}

#eight {
    border-bottom: 0;
}

#nine {
    border-bottom: 0;
    border-right: 0;
}